<button (click)="test()">test</button>

<div class="title-container">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        Next
      </div>
    </div>
  </div>
  <div class="">
    <h3>{{ viewDate | calendarDate : view + "ViewTitle" : "en" }}</h3>
  </div>
</div>
<br />
<div style="display: flex; max-width: 800px; flex-direction: column">
  <mwl-calendar-week-view
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [minimumEventHeight]="20"
    [hourSegmentHeight]="20"
    [hourSegments]="2"
    (hourSegmentClicked)="segmentClicked($event, modalView)"
    [dayStartHour]="8"
    [dayEndHour]="17"
  >
  </mwl-calendar-week-view>
</div>

<ng-template #modalView>
  <app-modal-content [date]="segment" (close)="close()" />
</ng-template>
